.openerp .oe_kanban_view .oe_kanban_department {
  width: 380px;
}
.openerp .oe_kanban_view .oe_kanban_department .oe_kanban_content div:first-child {
  margin-right: 0px;
}
.openerp .oe_kanban_view .oe_kanban_department .container {
  width: inherit;
}
.openerp .oe_kanban_view .oe_kanban_department img.oe_department_avatar {
  width: 30px;
  height: 30px;
  margin-top: -17px;
}
.openerp .oe_kanban_view .oe_kanban_department .oe_name {
  width: 320px;
}
.openerp .oe_kanban_view .oe_kanban_department .row div {
  padding: 0px;
}
.openerp .oe_kanban_view .oe_kanban_department .oe_items {
  height: 22px;
  margin-left: 7px;
}
.openerp .oe_kanban_view .oe_kanban_department a:hover {
  text-decoration: underline !important;
}
.openerp .oe_kanban_view .oe_kanban_department .oe_sparkline_bar {
  margin-top: -6px;
  display: block;
}
