/* This file will be loaded only if defaults bootstrap colors are in use  */

a {color: #2E917D}
a:hover, a:focus {color: #21b799; text-decoration: none;}
textarea:focus, input:focus, select:focus, option:focus, .btn:focus, a:focus {outline-color: #26A38A;}



.btn-default {
	background-color: #FFFFFF;
	color: #7C7C7C;
	line-height: 19px;
}

.btn-default:hover {
	color: #333;
}

.btn-primary {
	background: #21b799;
	border-color: #26A38A;
	text-shadow: 0 1px 0 #2E917D;
	font-weight: normal;
	line-height: 19px;
	color: white;
}

.btn-primary:hover {
	background-color: #2E917D;
	color: white;
}