
.openerp .oe_gantt .oe_gantt_view {
    min-height: 500px;
}

.openerp .oe_gantt strong {
    margin-left: 30px;
}

.openerp .oe_gantt label {
    font-weight: normal;
}

@media print {
    .oe_gantt button {
        display: none;
    }
    .oe_gantt > table > tbody > tr > td > div > div {
        overflow: hidden !important;
    }
}